<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/cafes"><i class="fa-solid fa-compass ms-3 me-0"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ps-0">
          <a class="nav-link ps-0" href="/cafes">Explore</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" action="/cafes/search" method="GET">
        <input class="form-control me-2 search-input" name="place" type="search" placeholder="Search your destination" aria-label="Search"/>
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
    </form>
      </div>
      <div class="navbar-nav ms-auto">
         <a class="nav-link cl" style="font-size: 1.15rem;font-weight: 500;" href="/cafes/new">Host your Cafe</a>
            <a class="nav-link active"  href="/signup"><b>Sign Up</b></a>
          <a class="nav-link active" href="/login"><b>Login In</b></a>

          <a class="nav-link" href="/logout">Log Out</a>
   
      </div>
    </div>
  </div>
</nav>

