<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid mx-5">
    <a class="navbar-brand me-1" href="/cafes">
      <i class="fa-solid fa-mug-hot cl " style="font-size: 2rem; margin-left: 10px;"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ps-0 ms-0">
          <a class="nav-link ps-0 cl"style="font-size: 1.5rem;font-weight:600;"" href="/cafes">CafeCozy</a>
      </div>

      <div class="navbar-nav ms-auto hide">
        <form class="d-flex" role="search" action="/cafes/search" method="GET">
        <input class="form-control shadow-sm search me-0search-input" name="place" type="search" placeholder="Search for the location" aria-label="Search"/>
        <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass cl ms-0" style="font-size: 2rem;"></i></button>
    </form>
      </div>
      <div class="navbar-nav ms-auto">
         <a class="nav-link cl" style="font-size: 1.15rem;font-weight: 500;" href="/cafes/new">Host your Cafe</a>
        <% if(!currUser){%>
            <a class="nav-link active"  href="/signup"><b>Sign Up</b></a>
         
            <a class="nav-link active" href="/login"><b>Login In</b></a>
        <%}%>
          <% if(currUser){%>
            <a class="nav-link hide" href="/workspaces/booking"><b>My Bookings</b></a>
          <a class="nav-link" href="/logout">Log Out</a>
          <%}%>
      </div>
    </div>
  </div>
</nav>

