<% layout("/layout/boilerplate") %>

<div class="row mt-3">
    <h1 class="mx-3">SignUp</h1>
     <div class="col-6 offset-3" >
        <form action="/signup" method="post" novalidate class="needs-validation">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" placeholder="abc123" required class="form-control mb-3">
            <div class="valid-feedback">
                Username Looks Good!
            </div>

            <label for="email" class="form-label">Email</label>
            <input type="text" name="email" placeholder="abc123@gmail.com" required class="form-control mb-3">
            <div class="valid-feedback">
                Email Looks Good!
            </div>

            <label for="password" class="form-label">Password</label>
            <input type="text" name="password" placeholder="abc123" required class="form-control mb-3">
            <div class="valid-feedback">
                  Password Looks Good!
            </div>
            
            <button class="btn btn-success">SignUp</button>
            
        </form>
        <hr>
        <p>Already have an account? <a href="/login" class="alert-link ms-2">Log In</a></p>
     </div>
</div>